nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  position: fixed;
  top: 0;
  height: 124px;
}

.nawigacja {
  display: flex;
  gap: 64px;
  font-size: x-large;
  align-items: center;
  padding: 0px 50px;
}

.logo {
  height: 120px;
}

a {
  text-decoration: none;
  color: #60CCDF;
}